main {
   padding: 2rem 0;

   table {
      margin: 0 auto;
      border-collapse: collapse;
   }

   th, td {
      border: 1px #4a4a4a solid;
      text-align: center;
      padding: 0.5rem 1.5rem;
   }

   th {
      text-transform: uppercase;
      font-size: 0.8rem;
      background-color: #404040;
      position: sticky;
   }

   .true {
      color: #53af53;
   }

   .false {
      color: #b83030;
   }

   .th-departure {
      background-color: #43438c;
   }

   .th-arrival {
      background-color: #3a667a;
   }

   .departure {
      background-color: #43438c4f;
   }

   .arrival {
      background-color: #3a667a4f;
   }

   nav {
      .pagination {
         @include flex();
         font-size: 1.5rem;
         padding-top: 2rem;
         padding-bottom: 1rem;

         li {
            display: block;
            margin: 0 0.5rem;
         }

         .page-item a {
            color: #e6e6e6;
         }

         .active {
            color: #f60;
            font-weight: 700;
         }

         .disabled {
            color: #4a4a4a;
         }
      }
   }

   .pagination-count {
      text-align: center;
      margin-bottom: 0.5rem;
   }

}
